altair
anyio
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
boltons
Brotli
cachetools
certifi
cffi
charset-normalizer
click
comm
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
debugpy
decorator
defusedxml
deprecation
distro
executing
fastjsonschema
fqdn
gitdb
GitPython
h11
httpcore
httpx
idna
ipykernel
ipyspeck
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_packaging
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
libmambapy
lightgbm
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
menuinst
mistune
mols2grid
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
pluggy
prettytable
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
PubChemPy
pure-eval
py3Dmol
pyarrow
pycosat
pycparser
pydeck
pyecharts
Pygments
pyOpenSSL
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
rdkit
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
scikit-learn
scipy
Send2Trash
simplejson
six
smmap
sniffio
soupsieve
stack-data
stmol
streamlit
streamlit-echarts
streamlit-ketcher
tenacity
terminado
threadpoolctl
tinycss2
toml
tomlkit
toolz
tornado
tqdm
traitlets
truststore
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xgboost
zstandard
